h3  {
  padding: 0px;
  margin: 15px 0px -10px 0px;
}

.list-item-container {
  padding-left: 30px;
  display: inline-block;
  width: 100%
}

.align-left {
  float: left;
  display: inline-block;
}

.align-right {
  display: inline-block;
  float: right;
  padding-right: 60px;
}
